{%load static %} 
<!DOCTYPE html>
<html lang="pt=br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'home/css/ver_home.css' %}">
</head>
<body>
    <h1>Bem-Vindo!</h1>

    <form action="{% url 'ver_home' %}" method="POST">{%  csrf_token %}
        <input type="text" name="nome" placeholder="Digite seu nome" required>
        <br>
        <br>
        <input type="number" name="idade" placeholder="Digite sua idade" required>
        <br>
        <br>
        <input type="submit" value="enviar">
    </form>
</body>
</html>